.textarea {
        margin-bottom: 20px;
}

pre {
        background: transparent !important;
}

.notification {
        margin-bottom: 20px;
}

.card {
        margin-top: 20px
}

.card-header a {
        display: flex;
        flex-direction: column;
        justify-content: center;
}

.card-header .tag-holder {
        display: flex;
        flex-direction: column;
        justify-content: center;
}

body {
        font-family: "Jost",BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
