<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Varna - AWS Cloudtrail Monitoring</title>
  <link rel="stylesheet" type="text/css" href="/static/css/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
  <link rel="stylesheet" href="https://indestructibletype.com/fonts/Jost.css" type="text/css" charset="utf-8" />
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <script src="/static/script.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  {% block extend_head %}{% endblock %}
</head>

<body>

  {% if app_state.authentication_required %}
  <!-- User Management (Account, Logout, Etc.) -->
  <section class="hero">
    <div class="level container">
      <div class="level-left"></div>
      <div class="level-right">
        <div class="content is-size-6 has-text-weight-semibold has-text-right">
          <p>
            {% if app_state.username %}
            {{ app_state.username }}
            |
            {% endif %}
            <a href="/logout">Logout</a>
          </p>
        </div>
      </div>
    </div>
  </section>
  {% endif %}

  <!-- Varna Logo Section -->
  <section class="hero is-small is-bold">
    <div class="hero-body">
      <div class="container has-text-centered">
        <a href="/">
          <h1 class="title">Varna<i class="fas fa-bullhorn"></i></h1>
        </a>
      </div>
    </div>
  </section>

  <!-- Varna Application Tabs (List Alarms, List Rules, Search, Etc.) -->
  <div class="columns">
    <div class="column is-8 is-offset-2">
      <div id="input-tabs" class="tabs is-boxed is-centered">
        <ul class="is-size-6 has-text-weight-semibold">
          <!-- <li id="dashboard-input">
            <a href="/">
              <span>Dashboard</span>
            </a>
          </li> -->
          <li id="alarms-input">
            <a href="/list_alerts">
              <span>List of Alerts</span>
            </a>
          </li>
          <li id="rules-input">
            <a href="/list_rules">
              <span>List of Rules</span>
            </a>
          </li>
          <li id="past-search-input">
            <a href="/past_search">
              <span>Past Search</span>
            </a>
          </li>
          <!-- <li id="settings-input">
            <a href="/settings">
              <span>Settings</span>
            </a>
          </li> -->
        </ul>
      </div>
    </div>
  </div>

  <!-- Page Content -->
  <div class="columns">
    <div class="column is-8 is-offset-2">
      {% block content %}{% endblock %}
    </div>
  </div>

</body>